<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="ConnectionString" connectionString="Server=localhost;Port=5432;User Id=postgres;Password=PGSQLPASS;Database=cruciblewds;"/>
  </connectionStrings>
  <system.web>
    <authentication mode="Forms">
      <forms name="form1" protection="All" timeout="30" />
    </authentication>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <httpRuntime maxRequestLength="1294967295" executionTimeout="60000"/>
  </system.web>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".krn" mimeType="application/octet-stream"/>
     <mimeMap fileExtension=".iso" mimeType="application/octet-stream"/>
    </staticContent>
    <security>
      <requestFiltering>
        <fileExtensions allowUnlisted="true"/>
        <requestLimits maxAllowedContentLength="4294967295" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>